/* ====================================================================
   #BUTTONS (GLOBAL)
   ==================================================================== */

/**
 * Preconfigure these variables before the @import of this file.
 * Variables naming scheme (--prefix-element-modifier-property)
 * for example, color prefix for all colors(text, backgrounds).. border prefix for borders, etc...
 */

:root {
  // Buttons base styles
    --font-btn-base-weight        : 600;
    --font-btn-base-family        : var(--font-family-plain);
  --border-btn-base-width         : 1px;
  --border-btn-base-style         : solid;
     --brs-btn-base               : 4px; // Border radius
   --space-btn-base-padding       : .75em 1.4em; // Not change, based on font size of the button
  // Main button styles
   --font-btn-primary-size        : rem(15px); @mixin bp md {
   --font-btn-primary-size        : rem(16px); }
  --color-btn-primary-bg          : var(--color-brand-accent);
  --color-btn-primary-color       : #FFFFFF;
  --color-btn-primary-bd-c        : transparent;
  // Main button HOVER & FOCUS & ACTIVE styles.
  --color-btn-primary-hover-bg    : color-mod(var(--color-brand-accent) l(48%));
  --color-btn-primary-hover-color : #FFFFFF;
  --color-btn-primary-hover-bd-c  : transparent;
  --color-btn-primary-focus-shadow: color-mod(var(--color-brand-accent) a(.25)); // Button focus shadow color

  // Accent button styles.
  --color-btn-accent-bg           : var(--color-brand-accent); // Button background color
  --color-btn-accent-color        : #FFFFFF;                   // Button text color
  --color-btn-accent-bd-c         : transparent;               // Button border
  // Accent button HOVER & FOCUS & ACTIVE styles.
  --color-btn-accent-hover-bg     : color-mod(var(--color-brand-accent) lightness(48%)); // Button hover background color
  --color-btn-accent-hover-color  : #FFFFFF;                                             // Button hover text color
  --color-btn-accent-hover-bd-c   : transparent;                                         // Button hover border
  --color-btn-accent-focus-shadow : color-mod(var(--color-brand-accent) a(.33)); // Button focus shadow color

  // Round button styles
    --brs-btn-round               : 100px; // Border radius
}


/* Button component
 * Aplyes styles to anchor element, button element, and button-based inputs.
 */

.c-button {
  // Button base styles
  min-width       : rem(100px);
  display         : inline-flex;
  justify-content : center;
  align-items     : center;
  cursor          : pointer;
  white-space     : nowrap;
  line-height     : 1;
  padding         : var(--space-btn-base-padding);
  font-weight     : var(--font-btn-base-weight);
  font-family     : var(--font-btn-base-family);
  border-radius   : var(--brs-btn-base);
  border          : var(--border-btn-base-width) var(--border-btn-base-style) transparent;
  transition      :
    box-shadow       var(--transition-duration-global),
    background-color var(--transition-duration-global) var(--transition-timing-func-global);


  // Button on active
  &:active { transform: translateY(1px) }


  // Primary Button ( Starter buttons with main styles)
  &--primary {
    border-color        : var(--color-btn-primary-bd-c);
    background-color    : var(--color-btn-primary-bg);
    color               : var(--color-btn-primary-color);
    font-size           : var(--font-btn-primary-size);

    &:hover {
      border-color      : var(--color-btn-primary-hover-bd-c);
      background-color  : var(--color-btn-primary-hover-bg);
      color             : var(--color-btn-primary-hover-color);
    }

    &:focus { box-shadow: 0 0 0 4px var(--color-btn-primary-focus-shadow) }
  }


  // Accent/Secondary Button
  &--accent {
    border-color        : var(--color-btn-accent-bd-c);
    background-color    : var(--color-btn-accent-bg);
    color               : var(--color-btn-accent-color);

    &:hover {
      border-color      : var(--color-btn-accent-hover-bd-c);
      background-color  : var(--color-btn-accent-hover-bg);
      color             : var(--color-btn-accent-hover-color);
    }

    &:focus {
      box-shadow        : 0 0 0 4px var(--color-btn-accent-focus-shadow);
    }

    &-shadow {
      box-shadow        : 0 8px 15px rgba(0, 0, 0, .15);

      &:focus {
        box-shadow      : 0 0 0 4px var(--color-btn-accent-focus-shadow), 0 8px 15px rgba(0, 0, 0, 0.15);
      }
    }
  }


  // Round button
  &--round {
    border-radius       : var(--brs-btn-round);
  }

  // Square buttons
  &--square {
    border-radius       : 0;
  }


  // Full width buttons (block level) - A button can take the width of its container
  &--fluid {
    @mixin bp as {
      display           : block;
      width             : 100%;
      margin-inline     : 0 !important;
    }
  }

  &--width-80\% {
    @mixin bp xs {
      display           : block;
      width             : 80%;
      margin-inline     : auto !important;
    }
  }


  &[disabled] {
    pointer-events:none;
    opacity: 0.4;
  }


  // Medium Button
  &--md {
    font-size: rem(18px); @mixin bp sm {
    font-size: rem(19px); }
  }

  // Big Button
  &--lg {
    font-size: rem(20px); @mixin bp sm {
    font-size: rem(22px); }
  }

  // xLarge Button
  &--xl {
    font-size: rem(22px); @mixin bp sm {
    font-size: rem(25px); }
  }

  // xxLarge Button
  &--xx {
    font-size: rem(24px); @mixin bp sm {
    font-size: rem(28px); }
  }

}

