.c-todo__item {
  user-select: none;

  &:nth-of-type(odd) {
    background-color: hsl(var(--color-primary-h), var(--color-primary-s), 98%);
  }

  &:nth-of-type(even) {
    background-color: hsl(var(--color-primary-h), var(--color-primary-s), 96%);
  }

  &:hover {
    background-color: hsl(var(--color-primary-h), var(--color-primary-s), 94%);
  }

  label {
    font-size: 0.85rem;
    width: 100%;
    height: 100%;
    padding: 0.55em 1em 0.55em calc(2em + 0.5em);
    color: var(--color-link);
    line-height: 1.3;

    &::after {
      left: calc(1em + 5px);
      top: 16px;
    }

    &::before {
      left: 1em;
    }
  }

  input {
    &:checked + label {
      color: var(--color-text);
    }

    &:hover + label::before,
    &:focus + label::before {
      box-shadow: 0 0 0 3px var(--color-primary);
    }
  }
}
