/* ==========================================================================
   #CONTAINER (GLOBAL)
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 * the outer container for components and it usually provides a fixed width.
 */

 :root {
  --container-width-xs: rem(600px);
  --container-width-sm: rem(976px);
  --container-width-md: rem(1024px);
  --container-width-lg: rem(1280px);
  --container-width-xl: rem(1440px);
  --container-padding : var(--s3);
}

.o-container {
  width: calc(100% - var(--container-padding)); @mixin bp sm {
  width: calc(100% - (2 * var(--container-padding))); }
  margin: 0 auto;

  .o-container { width: 100%; }

  &--full-width {
    width: 100%;
  }

  &--xs {
    max-width: var(--container-width-xs);
  }

  &--sm {
    max-width: var(--container-width-sm);
  }

  &--md {
    max-width: var(--container-width-md);
  }

  &--lg {
    max-width: var(--container-width-lg);
  }

  &--xl {
    max-width: var(--container-width-xl);
  }

  // alt approach - max-width is updated at specific breakpoints
  // credit: codyhouse-framework
  &--adaptive, &--adaptive-lg {
    max-width: var(--container-width-xs);   @mixin bp md {
    max-width: var(--container-width-md); } @mixin bp xl {
    max-width: var(--container-width-lg); }
  }

  &--adaptive-sm {
    max-width: var(--container-width-xs); @mixin bp md {
    max-width: var(--container-width-sm); }
  }

  &--adaptive-md {
    max-width: var(--container-width-xs); @mixin bp md {
    max-width: var(--container-width-md); }
  }

  &--adaptive-xl {
    max-width: var(--container-width-xs);   @mixin bp md {
    max-width: var(--container-width-md); } @mixin bp xl {
    max-width: var(--container-width-xl); }
  }
}
