/* ==========================================================================
   #MEDIA
   ========================================================================== */

/**
 * Place any image- and text-like content side-by-side, as per:
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */


.o-media {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: var(--s4);
  align-items: start;

  @mixin bp md {
    grid-template-columns: 33.333% 1fr;
    grid-column-gap: var(--s4);
  }

  &__img {
    grid-column: 1 / 2;
  }

  &__content {
    grid-column: auto / -1;
  }
}