/* ============================================================================
   PAGE (GLOBAL)
   ========================================================================= */

/**
 * the first element after BODY.
 * the most outer container which usually contains max-width: 100vw and overflow: hidden.
 */

// Outer container including header
.o-page {
  min-height: 100vh;

  @media (min-width: 36em) {
    display: grid;
    grid-template-rows: 5.95rem auto 2.5rem;
  }
}

