.o-section {
  padding: calc(var(--gap) * 2) 0;

  &__title {
    margin-bottom: var(--gap);
    font-size: 1.6rem;
    font-weight: 900;
  }

  &__desc {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0.8rem auto 0;
    max-width: 30ch;
  }

  &--everyday {
    background-color: hsl(var(--color-primary-h), var(--color-primary-s), 95%);

    .o-section__head {
      text-align: center;
      margin-bottom: calc(var(--gap) * 1.2);
    }

    h2 {
      margin-bottom: 0;
      font-weight: 900;
      font-size: 4rem;
    }
  }

  &--resources {
    background-color: hsl(var(--color-secondary-h), 20%, 88%);
  }

  &--subjects {
    background-color: hsl(var(--color-secondary-h), 20%, 98%);
  }
}
