.o-section {
  background-color: #fff;
  padding: var(--s5) 0; @mixin bp md {
  padding: calc(var(--s6) - var(--s-1)) 0; }

  &__head {
    text-align: center; // fallback for legacy browsers

    .c-icon--inline { margin-right: var(--s0); }
  }

  &__title,
  &__subtitle {
    color: var(--color-brand-primary);
    font-weight: 200;
  }

  &__title {
    font-size: var(--s4);
    letter-spacing: var(--letter-spacing-n-04);

    strong { font-weight: 700 }
  }

  &__subtitle {
    margin-top: var(--s1);

    strong { font-weight: 500 }
  }


  // Dark section styles:

  &--dark {
    background-color: var(--color-brand-primary);
    color: #fff;
  }

  &--dark &__title { color: #fff }


  // Headings of Our beginning section:

  &--our-beginning &__title {
    font-size: var(--s3);

    strong { font-weight: 500 }
   }

  &--our-beginning &__subtitle {
    font-size: calc(var(--s1) + var(--s-3));
    max-width: 50rem;
    margin-inline: auto;
    color: var(--color-brand-accent);
  }

  // SVG background of Our testimonials section:

  &--our-testimonials  {
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.05'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  }
}

