/* Badge */

.l-badges {
  display: inline-flex;
  position: relative;
  top: 1px;
  margin-left: 2.35rem;

  &:before {
    content: "";
    position: absolute;
    left: -1.8rem;
    top: 51%;
    transform: translateY(-50%);
    width: 25px;
    height: 1px;
    background-color: var(--color-text);
    opacity: 0.3;
  }

  &--group .c-badge {
    border-radius: 0;

    &:first-child {
      border-radius: 50px 0 0 50px;
      padding-left: 0.75em;
    }

    &:last-child {
      border-radius: 0 50px 50px 0;
      padding-right: 0.75em;
    }
  }
}
