.l-header {
  position: absolute; @mixin bp md {
  position: fixed; }
  z-index: var(--zi-header);
  width: 100%;


  &__content {
    display: flex;
    align-items: center;
  }

  &__logo {
    position: absolute;
    top: 0; left: 50%;
    z-index: var(--zi-popover);
    transform: translateX(-50%);

    @mixin bp md {
      left: auto;
      transform: translateX(0);
    }
  }

  &__drawer-trigger {
    z-index: var(--zi-popover);
    position: absolute;
    right: var(--s2);
    top: var(--s2);
  }

  &__drawer {
    @mixin bp as {
      display: flex;
      position: absolute;
      width: 100%; height: 23rem;
      left: 0; top: 0;
      padding: var(--s3) 0;
      overflow: hidden;
      white-space: nowrap;
    }

    @mixin bp md { margin-left: auto; }
  }

  &__drawer-wrapper {
    @mixin bp sm {
    width: 80%; }

    @mixin bp as {
      text-align: center;
      margin: auto auto 0 auto;
    }

    @mixin bp md {
      width: auto;
      display: flex;
      align-items: center;
    }
  }

  &__nav {
    @mixin bp as {
      ul { width: 100%; }

      li { flex-basis: 33.333%; }
    }
  }

}