.l-testimonials {
  --flow-space-all: calc(var(--s6) + ( var(--testimonial-avatar-width) * .35)); @mixin bp sm {
  --flow-space-all: calc(var(--s6) + (var(--testimonial-avatar-width) * .25)); } @mixin bp md {
  --flow-space-all: calc(var(--s6) + (var(--testimonial-avatar-width) * .15)); }

  /* === Layout fallback for old browsers === */
  @mixin bp lg {
    margin-right: -25px;
    @mixin clearfix;
  }
  /* === */

  @supports (display: grid) {
    /* === Layout fallback override === */
    @mixin bp lg {
      margin-right: 0 !important;
      @mixin clearfix-override;
    }
    /* === */

    display: grid;
    grid-gap: var(--s1);
    @mixin bp md { grid-template-columns: 1fr 1fr; }
    @mixin bp lg { grid-template-columns: 1fr 1fr 1fr; }
  }
}

.l-testimonial {
  padding: calc(var(--testimonial-avatar-width) * 0.65) var(--s2) rem(30px);

  &:not(:last-child) {
    padding-bottom: calc(var(--testimonial-avatar-width) * 0.60); @mixin bp lg {
    padding-bottom: rem(30px); }

    /* === Layout fallback for old browsers === */
    margin-bottom: calc(var(--testimonial-avatar-width) * .75);
    /* === */
  }

  /* === Layout fallback for old browsers === */
  @mixin bp lg {
    width: calc(33.333% - 25px);
    float: inline-start;
    margin-right: 25px;
    margin-bottom: 0;
  }
  /* === */

  @supports (display: grid) {
    /* === Layout fallback override === */
    margin-bottom: 0 !important;

    @mixin bp lg {
      width: auto !important; float: none !important; margin-right: 0 !important;
    }
    /* === */

    @mixin bp md { &:last-child { grid-column: 1 / -1; } }
    @mixin bp lg { &:last-child { grid-column: auto;   } }
  }

}