.p-header {
  border-bottom: 6px solid var(--color-border);
  padding: 1em 0;
  position: relative;
  background: var(--color-gradient);

  @media (min-width: 36em) {
    padding: 0;
  }

  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 36em) {
      justify-content: flex-start;
    }
  }

  img {
    margin-right: 1rem;
    border: 5px solid var(--color-secondary);
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
  }

  button {
    all: initial;
    background: var(--color-gradient);
    font-family: var(--font-family-mono);
    padding: 0.5em;
    border-radius: 3px;
    border: 1px solid hsl(var(--color-primary-h), 10%, 70%);
    font-weight: 700;
    font-size: 0.55rem;
    box-shadow: 0 2px 5px
      hsl(var(--color-primary-h), var(--color-primary-s), 75%);
    color: hsl(var(--color-primary-h), 10%, 45%);
    cursor: pointer;
    position: absolute;
    bottom: 1em;
    right: 1em;

    @media (min-width: 36em) {
      margin: auto 0 0.5rem auto;
      font-size: 0.6rem;
      position: static;
    }

    &:hover {
      border-color: hsl(var(--color-primary-h), 10%, 60%);
      color: hsl(var(--color-primary-h), 10%, 35%);
      box-shadow: 0 2px 5px
        hsl(var(--color-primary-h), var(--color-primary-s), 70%);
    }

    &:active {
      transform: translateY(1px);
    }
  }
}
