
/**
 * Natural flow and rhythm in articles by default.
 *
 * https://every-layout.dev/layouts/stack/
 * https://24ways.org/2018/managing-flow-and-rhythm-with-css-custom-properties/
 */

article {
  > * + * {
    margin-top: var(--s2);
  }

  p + p {
    margin-top: var(--s-1);
  }
}


/* OR

// Increased margin on additional headings:
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 2rem;
}

*/