
code:not([class*="highlight"]) {
  font-family: var(--font-family-mono);
  border-radius: 4px;
  background: var(--color-gradient);
  padding: 0.15em 0.3em;
  color: var(--color-text);
}

pre {
  font-family: var(--font-family-mono);
  border-radius: 4px;
  background: hsl(var(--color-primary-h), 10%, 18%);
  color: var(--color-primary);
  margin: 0;
  padding: 1em;
  line-height: 1.7;
}
