/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

// We have all of our heading font sizes defined here. Passing these pixel
// values into our `inuit-font-size()` mixin will generate a rem-based
// `font-size` with a pixel fallback, as well as generating a `line-height` that
// will sit on our baseline grid.

h1,
h2,
h3 {
  line-height: 1.2;
  letter-spacing: -0.04em;
  font-family: var(--font-family-plain);
}

ul ul {
  h4 {
    font-size: 95%;

    + * {
      margin-top: calc(var(--gap) * 0.25);
    }
  }
}
