/**
 * Remove trailing margins from nested lists.
 */

li > {
  ol,
  ul {
    margin-bottom: 0;
  }
}

/**
 * Visually offset definition titles from their definitions.
 */

dt {
  font-weight: 700;
}

// =================

ul ul {
  margin-top: calc(var(--gap) * 0.5);
}