/* ==========================================================================
   #QUOTES
   ========================================================================== */

/**
 * Basic styling for quoted text.
 */

q {
  quotes: "�" "�";

  &:before {
    content: open-quote;
  }
  
  &:after {
    content: close-quote;
  }
}

blockquote {
  quotes: "�" "�";
  margin: 0 0 rem(24px) 0;
  border-left: #f0f0f0;
  padding: 0 1.5rem;
  font-size: 1.5rem;

  cite {
    display: block;
    margin-top: rem(24px);
    font-size: 1rem;
    text-align: right;
  }
}