extends ../components/_log

block vars
  - var day = '3';
  - var month = 'May';
  - var year = '2020';
  - var index = '93';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Continued working on the VanillaJS project. Read about Prototypes in JavaScript. Learned a new way to deal with State in React, using the `useState()` method.
