extends ../components/_log

block vars
  - var day = '29';
  - var month = 'Mar';
  - var year = '2020';
  - var index = '58';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Continued working on the Todo list app, I have finished more than 90% of it.
    - [Building a Simple Todo List App](https://www.kirupa.com/react/simple_todo_app_react.htm)