extends ../components/_log

block vars
  - var day = '1';
  - var month = 'May';
  - var year = '2020';
  - var index = '91';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Fished [JavaScript Objects and Prototypes In-depth](https://www.youtube.com/watch?v=fBpPfPjxOhc&list=PLqq-6Pq4lTTaflXUL0v3TSm86nodn0c_u) course.
