//-:markdown-it(linkify langPrefix='highlight-')
extends ../components/_log

block vars
  - var day = '23';
  - var month = 'Mar';
  - var year = '2020';
  - var index = '52';


block content
  p
    | Tried to write some ideas about what I learnt from CSS in the last month. (to be published later.)


