extends ../components/_log

block vars
  - var day = '18';
  - var month = 'Apr';
  - var year = '2020';
  - var index = '78';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Finished Kirupa's [React for Beginners](https://www.kirupa.com/react/index.htm) article series. Built a post model, and wrote code for viewing users posts.

    ### I read
    - [Updating to Newer React Versions](https://www.kirupa.com/react/updating_react_version.htm)
