extends ../components/_log

block vars
  - var day = '13';
  - var month = 'Apr';
  - var year = '2020';
  - var index = '73';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Read an introduction to Redux by Kirupa and learned how it works. Started on building a complex training project using Node.js, Express.js and MongoDB. Also I learned how to use Express routers.
    ### I Read
    - [Introduction to Redux](#0)