extends ../components/_log

block vars
  - var day = '18';
  - var month = 'Mar';
  - var year = '2020';
  - var index = '47';


block content
  p I got started on React today, YEAH!!!
  :markdown-it(linkify langPrefix='highlight-')
    I start learning from a lovely tutorial for beginners by the great [Kirupa](https://www.kirupa.com/react/index.htm) web guy. I liked Kirupa way in teaching you how things are working in React.
  h3 I studied:
  :markdown-it(linkify langPrefix='highlight-')
    - [How Much HTML/CSS/JS Do You Need to Know Prior to Learning React?](https://www.kirupa.com/react/how_much_to_know_prior_learning_react.htm')
    - [Introducing React](https://www.kirupa.com/react/introducing_react.htm)
    - [Building Your First React App](https://www.kirupa.com/react/building_your_first_react_app.htm), and [this](https://github.com/ahmedhosna95/my-first-react-app) is my first React app!
    - [Components in React](https://www.kirupa.com/react/components.htm)
    - [Styling in React](https://www.kirupa.com/react/styling_in_react.htm)


