extends ../components/_log

block vars
  - var day = '8';
  - var month = 'Apr';
  - var year = '2020';
  - var index = '68';


block content
  :markdown-it(linkify langPrefix='highlight-')
    My personal website is live now!
    I finished working on CSS styles and handled the site pages as I needed. You can browse it on [Netlify](https://ahmedhosna.netlify.com/). Don't forget to view my [portfolio](http://ahmedhosna.netlify.com/portfolio). :)