//-:markdown-it(linkify langPrefix='highlight-')
extends ../components/_log

block vars
  - var day = '20';
  - var month = 'Mar';
  - var year = '2020';
  - var index = '49';


block content
  p
    | Friday? Yes!!! It's Friday, and I must dance :)))
  img(src='assets/images/meems/dance.gif', width='160', height='160', alt="It's Friday")


