extends ../components/_log

block vars
  - var day = '5';
  - var month = 'May';
  - var year = '2020';
  - var index = '95';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Continued working on the VanillaJS project. It was a cool day! I learned how to [return multiple values](https://stackoverflow.com/questions/28703625/how-do-you-properly-return-multiple-values-from-a-promise) from a Promise or any JavaScript function!
