extends ../components/_log

block vars
  - var day = '21';
  - var month = 'Apr';
  - var year = '2020';
  - var index = '81';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Added a new feature to the app; News Feed. Gave users the ability to follow each other. I'm really having fun! :D