extends ../components/_log

block vars
  - var day = '10';
  - var month = 'Apr';
  - var year = '2020';
  - var index = '70';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Got started on studying a new course by Brad Schiff to improve my skills in JavaScript: [Learn JavaScript: Full-Stack from Scratch](https://www.udemy.com/course/learn-javascript-full-stack-from-scratch/), and this is the third course that I've studied so far with Brad. Brad has taught me a lot! Thanks Brad.