extends ../components/_log

block vars
  - var day = '28';
  - var month = 'Mar';
  - var year = '2020';
  - var index = '57';


block content
  p Started working on a small React project with Kipura. It's a simple Todo list app, and I'm so excited.
  ul
    li
      a(href="https://www.kirupa.com/react/simple_todo_app_react.htm" target="_blank") Building an Awesome Todo List App in React
