extends ../components/_log

block vars
  - var day = '30';
  - var month = 'Mar';
  - var year = '2020';
  - var index = '59';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Completed the Todo list app. You can find the source files on [Github](https://github.com/ahmedhosna95/simple-react-todo-list-app), or test it live on [Netlify](https://simple-react-todo-list.netlify.com/).
  img.img-preview(src='assets/images/simplereacttodolistapp.gif', alt='Simple React Todo List App')