extends ../components/_log

block vars
  - var day = '15';
  - var month = 'May';
  - var year = '2020';
  - var index = '105';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Continued studying "React for the rest of us" course.
