extends ../components/_log

block vars
  - var day = '15';
  - var month = 'Mar';
  - var year = '2020';
  - var index = '44';


block content
  :markdown-it(linkify langPrefix='highlight-')
    I completed the [Scroll-spy Navbar](https://github.com/ahmedhosna95/travel-site-workflow-updated/blob/master/src/assets/scripts/modules/sticky-header.js) task. I wrote CSS for a modal, but its JavaScript not done yet. I will finish it tomorrow.
    ### I read:
    - [Sticky, Smooth, Active Nav](https://css-tricks.com/sticky-smooth-active-nav/)
    - [Introducing the Button element](https://hankchizljaw.com/wrote/introducing-the-button-element/), and a related [pen](https://codepen.io/andybelldesign/details/Vxpjvo).


