extends ../components/_log

block vars
  - var day = '19';
  - var month = 'Mar';
  - var year = '2020';
  - var index = '48';


block content
  p
    | Keep learning React with Kirupa. I got a problem with understanding what is State in React. I can't get it fully. :(
  h3 I studied:
  :markdown-it(linkify langPrefix='highlight-')
    - [Creating Complex Components](https://www.kirupa.com/react/creating_complex_components.htm). View color palette card task on [CodePen](https://codepen.io/ahmedhosna95/pen/yLNEdBO)
    - [Transferring Properties](https://www.kirupa.com/react/transferring_properties.htm)
    - [Meet JSX...Again!](https://www.kirupa.com/react/meet_jsx_again.htm)
    - [Dealing With State](https://www.kirupa.com/react/dealing_with_state.htm)
    - [React State From the Ground Up](https://css-tricks.com/react-state-from-the-ground-up/) - CSS Tricks

