extends ../components/_log

block vars
  - var day = '30';
  - var month = 'Apr';
  - var year = '2020';
  - var index = '90';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Read in JavaScript Enlightenment book.
    Watched 3 episodes from Java Brains about Objects and Prototype in JavaScript.
