extends ../components/_log

block vars
  - var day = '24';
  - var month = 'Apr';
  - var year = '2020';
  - var index = '84';


block content
  :markdown-it(linkify langPrefix='highlight-')
    learned about JSON and AJAX.
    - [JSON and AJAX](#0)
