extends ../components/_log

block vars
  - var day = '3';
  - var month = 'Jul';
  - var year = '2020';
  - var index = '112';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Started reading a new book in learning Next.js: [The Next.js Handbook](https://flaviocopes.com/page/nextjs-handbook/) written by Flavio Copes
