extends ../components/_log

block vars
  - var day = '14';
  - var month = 'Apr';
  - var year = '2020';
  - var index = '74';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Continued learning about Redux. Read about how it works with React. Built a small thing combines between the two.
    ### I Read
    - [Using Redux with React](https://www.kirupa.com/react/using_redux_with_react.htm)
  img.img-preview(src='assets/images/reduxcounter.png', alt='React-Redux Counter')
