extends ../components/_log

block vars
  - var day = '30';
  - var month = 'Mar';
  - var year = '2020';
  - var index = '59';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Completed the Todo list app. You can view the source code on [Github](#0), or watch it live on [Netlify](#0).