extends ../components/_log

block vars
  - var day = '20';
  - var month = 'May';
  - var year = '2020';
  - var index = '110';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Completed the "[React for the rest of us](https://www.udemy.com/course/react-for-the-rest-of-us/)" course with Brad Schiff. Pushed the application up onto the internet!
    Check it out on Netlify: [Writescape](https://writescape.netlify.app/)
