extends ../components/_log

block vars
  - var day = '12';
  - var month = 'Apr';
  - var year = '2020';
  - var index = '72';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Learned a lot today about database basics and CRUD operations! ♥ I've built a full-stack app using MongoDB, Express.js, Node.js and Axios as a promise based HTTP client for the browser.

    View it on [Heroku](https://ah-todoapp.herokuapp.com/).