extends ../components/_log

block vars
  - var day = '15';
  - var month = 'Apr';
  - var year = '2020';
  - var index = '75';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Learned about MVC Design and Architecture Pattern. Added validation to the user model in the current app I working on. Learned how to connect the app to database in reusable fashion, and this was amazing!