extends ../components/_log

block vars
  - var day = '26';
  - var month = 'Apr';
  - var year = '2020';
  - var index = '86';


block content
  :markdown-it(linkify langPrefix='highlight-')
     Read in JavaScript Enlightenment book. Watched 4 episodes from Java Brains Youtube chanel about Objects and Prototype in JavaScript. Started studying a new React course with Wes Bos.
