extends ../components/_log

block vars
  - var day = '23';
  - var month = 'Apr';
  - var year = '2020';
  - var index = '83';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Learned a little about CSRF. Built my first API!