extends ../components/_log

block vars
  - var day = '13';
  - var month = 'May';
  - var year = '2020';
  - var index = '103';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Continued studying "React of the rest of us" course.