extends ../components/_log

block vars
  - var day = '14';
  - var month = 'Mar';
  - var year = '2020';
  - var index = '43';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Hello, I think that today was a JavaScript day! I made little things but it took up my whole day to write! I built a [sticky header on scroll](https://github.com/ahmedhosna95/travel-site-workflow-updated/blob/master/src/assets/scripts/modules/sticky-header.js), and [revealing effect](https://github.com/ahmedhosna95/travel-site-workflow-updated/blob/master/src/assets/scripts/modules/reveal-on-scroll.js) for some items on scroll too, with help of the *Lodash.js* method: `throttle`. It was the first time for me to use Lodash. I'm proud of myself, and I can not wait until tomorrow to come to go on a new adventure with JavaScript.


