extends ../components/_log

block vars
  - var day = '9';
  - var month = 'Apr';
  - var year = '2020';
  - var index = '69';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Continued learning React. Today I learned about Routing in React. Also I learned how to make HTTP request and receive some data from a web service. Printed out user's [IP address](https://github.com/ahmedhosna95/ipaddress-using-react) on the screen. Made a simple single-page app (SPA), and deployed it on [Netlify](https://github.com/ahmedhosna95/animal-facts-react-router).
    ### I read:
    - [Working with External Data](https://www.kirupa.com/react/working_with_external_data.htm)
    - [Creating a Single-Page App Using React Router](https://www.kirupa.com/react/creating_single_page_app_react_using_react_router.htm)
  img.img-preview(src='assets/images/react-spa.png', alt='Simple single-page app with React')
