extends ../components/_log

block vars
  - var day = '19';
  - var month = 'May';
  - var year = '2020';
  - var index = '109';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Read in "JavaScript Enlightenment" book.

    ### I read
    - [Explaining the importance of the key prop in React](https://www.tutomena.com/react-key-prop/)