extends ../components/_log

block vars
  - var day = '8';
  - var month = 'May';
  - var year = '2020';
  - var index = '98';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Started a new course I was waiting for. It's a React course (React for the rest of us) by the great [Brad Schiff](https://twitter.com/learnwebcode) using the latest modern practices. Finally I have started building my first real single-page application!
