extends ../components/_log

block vars
  - var day = '1';
  - var month = 'Apr';
  - var year = '2020';
  - var index = '61';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Started in redesigning my personal website with the static site generator Eleventy, VanillaJS for scripts and VanillaCSS for styles.