extends ../components/_log

block vars
  - var day = '14';
  - var month = 'May';
  - var year = '2020';
  - var index = '104';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Continued studying "React of the rest of us" course. Also, I've revisited the latest VanillaJS app i worked on last week, and started working on its UI.