extends ../components/_log

block vars
  - var day = '5';
  - var month = 'Apr';
  - var year = '2020';
  - var index = '65';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Still working on redesigning my personal website.