extends ../components/_log

block vars
  - var day = '5';
  - var month = 'Jul';
  - var year = '2020';
  - var index = '113';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Finished reading [The Next.js Handbook](https://flaviocopes.com/page/nextjs-handbook/). Built [this](https://github.com/ahmedhosna95/next-app-follow-along-with-nextjs-handbook) app to follow along with the book.
