extends ../components/_log

block vars
  - var day = '26';
  - var month = 'Mar';
  - var year = '2020';
  - var index = '55';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Read about Stateless Functional Components. Learnt how to create a quickly React app using the npm package: [create-react-app](#0).
      ### I read:
      - [Stateless Functional Components](https://www.kirupa.com/react/functional_components.htm)
      - [Setting Up Your React Dev Environment Easily](https://www.kirupa.com/react/setting_up_react_environment.htm)
