extends ../components/_log

block vars
  - var day = '27';
  - var month = 'Mar';
  - var year = '2020';
  - var index = '56';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Have fun, it's Friday. That's all. :)