extends ../components/_log

block vars
  - var day = '11';
  - var month = 'Mar';
  - var year = '2020';
  - var index = '40';


block content
  img.gif-preview(src='assets/images/interactiveHeaderDrawer.gif', alt='Vanilla JS interactive navigation menu')
  :markdown-it(linkify langPrefix='highlight-')
    Today, I worked on finishing most of CSS styles for [this](https://github.com/ahmedhosna95/travel-site-workflow-updated) training project. Also, I have started in making it interactive, I built a [VanillaJS Navigation Menu](https://github.com/ahmedhosna95/travel-site-workflow-updated/blob/master/src/assets/scripts/modules/header-drawer-menu.js) for small devices. So, yeah, I made a lot of progress today. :)
  img.c-meem(src='assets/images/meems/oh-yeah-meem.jpg', alt='OH, YEAH')

