//-:markdown-it(linkify langPrefix='highlight-')
extends ../components/_log

block vars
  - var day = '10';
  - var month = 'Mar';
  - var year = '2020';
  - var index = '39';


block content
  p
    | In the last three days, I designed this beautiful challenge page. I named it
    strong "In 6 months"
    | . I aim to learn some stuff about the most things in the Front-End Web Development area that can help me to get a job in this great
    |                   field.
  p
    | Today, I would like to write a very important thing about me, that I like to design websites, so much. My favorite thing is absolutely playing with CSS in the browser. I like to use blue, grey, and pink colors. I prefer using flexbox and CSS Grid for designing beautiful
    | layouts.
