extends ../components/_log

block vars
  - var day = '13';
  - var month = 'May';
  - var year = '2020';
  - var index = '103';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Continued studying "React for the rest of us" course.

    ### I read
    - A nice little write-up in [how to make one time event handler](https://htmldom.dev/create-one-time-event-handler/).