extends ../components/_log

block vars
  - var day = '29';
  - var month = 'Apr';
  - var year = '2020';
  - var index = '89';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Read in JavaScript Enlightenment book.

    Made a lot of progress today in the React application from the current React course that I'm studying with Wes Bos.

    Learned about the array methods [reduce/reduceRight](https://javascript.info/array-methods#reduce-reduceright).