extends ../components/_log

block vars
  - var day = '16';
  - var month = 'May';
  - var year = '2020';
  - var index = '106';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Continued studying "React for the rest of us" course. Read in "JavaScript Enlightenment" book.

    ### I read
    - [Create custom keyboard accessible checkboxes](https://www.a11ywithlindsey.com/blog/create-custom-keyboard-accesible-checkboxes)
    - [Increase Your Chances Of Getting Hired As A Code Newbie](https://catalins.tech/increase-your-chances-of-getting-hired-as-a-code-newbie)
