extends ../components/_log

block vars
  - var day = '12';
  - var month = 'Mar';
  - var year = '2020';
  - var index = '41';


block content
  :markdown-it(linkify langPrefix='highlight-')
    Today, I watched a cool lesson from
    [brad](https://twitter.com/learnwebcode)'s course ([Git a Web Developer Job: Mastering the Modern Workflow](https://www.udemy.com/course/git-a-web-developer-job-mastering-the-modern-workflow/)), it was about OOP in JavaScript with pretty simple and clear examples. Then, I rewrote the interactive menu that I made yesterday to JavaScript class syntax, and it was amazing for me to write code in this way, I loved it.

    ### I read:
    - [A Tale of 'width' and 'max-width'](https://css-tricks.com/tale-width-max-width/), this little write-up confused me a lot! :(
    - [What, even, is the difference between width and max-width?](https://medium.com/m/global-identity?redirectUrl=https%3A%2F%2Fblog.prototypr.io%2Fwhat-even-is-the-difference-between-width-and-max-width-8f37b282c7f1)


