extends includes/base/_layout

block vars
  - var page = "Front-End Daily Log - Ahmed Nasr";
  - var desc = "A daily log to write about everything I'm working on and learning.";
  - var scope = 's-home';

block content
  include includes/_index