extends includes/base/_layout

block vars
  - var page = 'Ahmed Nasr { In 6 months. }';
  - var desc = "A daily log to write about everything I'm working on and learning.";
  - var scope = 's-home';

block content
  include includes/_index