li.c-resources__item.c-checkbox
  input#subject01(type='checkbox')
  label(for='subject01') Web Components Crash Course
  a(href='https://www.youtube.com/watch?v=PCWaFLy3VUo')
  .l-badges
    span.c-badge.c-badge--js JS
li.c-resources__item.c-checkbox
  input#subject02(type='checkbox')
  label(for='subject02') An Introduction to Web Components
  a(href='https://css-tricks.com/an-introduction-to-web-components/')
  .l-badges
    span.c-badge.c-badge--js JS
li.c-resources__item.c-checkbox
  input#subject03(type='checkbox')
  label(for='subject03') Web Components Club
  a(href='https://webcomponents.club/about-this-blog/')
  .l-badges
    span.c-badge.c-badge--js JS