li.c-resources__item.c-checkbox
  input#course01(type='checkbox', checked='')
  label(for='course01')
    | Web Design for Beginners: Real World Coding in HTML & CSS —
    | Brad Schiff
  a(href='https://www.udemy.com/course/web-design-for-beginners-real-world-coding-in-html-css/')
  .l-badges.l-badges--group
    span.c-badge.c-badge--html HTML
    span.c-badge.c-badge--css CSS

li.c-resources__item.c-checkbox
  input#course02(type='checkbox')
  label(for='course02') Learn Flexbox — Wes Bos
  a(href='http://flexbox.io/')
  .l-badges
    span.c-badge.c-badge--css CSS

li.c-resources__item.c-checkbox
  input#course03(type='checkbox')
  label(for='course03') Learn CSS Grid — Wes Bos
  a(href='http://cssgrid.io/')
  .l-badges
    span.c-badge.c-badge--css CSS

li.c-resources__item.c-checkbox
  input#course04(type='checkbox')
  label(for='course04') Learn CSS Grid — Per Harald Borgen
  a(href='https://scrimba.com/g/gR8PTE')
  .l-badges
    span.c-badge.c-badge--css CSS

li.c-resources__item.c-checkbox
  input#course05(checked='', type='checkbox')
  label(for='course05')
    | Git a Web Developer Job: Mastering the Modern Workflow —
    | Brad Schiff
  a(href='https://www.udemy.com/course/git-a-web-developer-job-mastering-the-modern-workflow/')
  .l-badges.l-badges--group
    span.c-badge.c-badge--css CSS
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#course06(type='checkbox')
  label(for='course06')
    | Learn JavaScript: Full-Stack from Scratch — Brad
    | Schiff
  a(href='https://www.udemy.com/course/learn-javascript-full-stack-from-scratch/')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#course07(type='checkbox')
  label(for='course07') Learn Webpack — Colt Steele
  a(href='https://www.youtube.com/playlist?list=PLblA84xge2_zwxh3XJqy6UVxS60YdusY8')

li.c-resources__item.c-checkbox
  input#course08(type='checkbox')
  label(for='course08') ES6 for Everyone — Wes Bos
  a(href='https://es6.io/')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#course09(type='checkbox')
  label(for='course09')
    | Beginner JavaScript - Learn JavaScript from Scratch — Wes
    | Bos
  a(href='https://beginnerjavascript.com/')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#course10(type='checkbox')
  label(for='course10') The Modern JavaScript Bootcamp
  a(href='https://www.udemy.com/course/modern-javascript/')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#course11(type='checkbox')
  label(for='course11') Learn Node.js — Wes Bos
  a(href='https://learnnode.com/')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#course12(type='checkbox')
  label(for='course12') React For Beginners — Wes Bos
  a(href='https://reactforbeginners.com/')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#course13(type='checkbox')
  label(for='course13') Fullstack Advanced React & GraphQL — Wes Bos
  a(href='https://advancedreact.com/')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#course14(type='checkbox')
  label(for='course14') Web Components Crash Course
  a(href='https://www.youtube.com/watch?v=PCWaFLy3VUo')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#course15(type='checkbox')
  label(for='course15') Java Brains - JavaScript Courses
  a(href='https://www.youtube.com/user/koushks/playlists?view=50&sort=dd&shelf_id=1')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#course16(type='checkbox')
  label(for='course16') JavaScript: Understanding the Weird Parts
  a(href='https://www.udemy.com/course/understand-javascript/')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#course17(type='checkbox')
  label(for='course17') FrontEnd 30
  a(href='https://frontend30.com/')
  .l-badges.l-badges--group
    span.c-badge.c-badge--html HTML
    span.c-badge.c-badge--css CSS
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#course18(type='checkbox')
  label(for='course18') Command Line Power User — Wes Bos
  a(href='http://commandlinepoweruser.com/')

li.c-resources__item.c-checkbox
  input#course19(type='checkbox')
  label(for='course19') Learn Git & GitHub — Brad Schiff
  a(href='http://commandlinepoweruser.com/')

li.c-resources__item.c-checkbox
  input#course20(type='checkbox' checked)
  label(for='course20') React For Beginners — Kirupa
  a(href='https://www.kirupa.com/react/index.htm')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#course21(type='checkbox')
  label(for='course21') JavaScript Scopes and Closures In-depth — Java Brains
  a(href='https://www.youtube.com/watch?v=O312eN5J2bc&list=PLqq-6Pq4lTTZ_LyvzfrndUOkIvOF4y-_c')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#course22(type='checkbox')
  label(for='course22') JavaScript Objects and Prototypes In-depth — Java Brains
  a(href='https://www.youtube.com/watch?v=fBpPfPjxOhc&list=PLqq-6Pq4lTTaflXUL0v3TSm86nodn0c_u')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#course23(type='checkbox')
  label(for='course23') Node.js Basics — Java Brains
  a(href='https://www.youtube.com/watch?v=hQd4TCGB_nE')
  .l-badges
    span.c-badge.c-badge--js JS
