li.c-resources__item.c-checkbox
  input#idea01(type='checkbox')
  label(for='idea01') 100 Days 100 Projects
  a(href='https://www.florin-pop.com/blog/2019/09/100-days-100-projects/')
  .l-badges.l-badges--group
    span.c-badge.c-badge--css CSS
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#idea02(type='checkbox')
  label(for='idea02') 20 Web Projects With Vanilla JavaScript
  a(href='https://www.udemy.com/course/web-projects-with-vanilla-javascript/')
  .l-badges
    span.c-badge.c-badge--js VanillaJS