li.c-resources__item.c-checkbox
  input#book01(type='checkbox')
  label(for='book01') JavaScript Enlightenment — Cody Lindley
  a(href='http://shop.oreilly.com/product/0636920027713.do')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#book02(type='checkbox')
  label(for='book02') JavaScript (ES2015+) Enlightenment — Cody Lindley
  a(href='https://frontendmasters.com/books/javascript-enlightenment/')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#book03(type='checkbox')
  label(for='book03') YDKJS (book series)
  a(href='https://github.com/getify/You-Dont-Know-JS')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#book04(type='checkbox')
  label(for='book04') Pro React 16 — Adam Freeman
  a(href='https://www.oreilly.com/library/view/pro-react-16/9781484244517/')

li.c-resources__item.c-checkbox
  input#book05(type='checkbox')
  label(for='book05') Eloquent JavaScript — Marijn Haverbeke
  a(href="https://eloquentjavascript.net/")

li.c-resources__item.c-checkbox
  input#book06(type='checkbox')
  label(for='book06') Front-end Developer Handbook 2019 — Cody Lindley
  a(href='https://frontendmasters.com/books/front-end-handbook/2019/')