li.c-resources__item.c-checkbox
  input#tutorial01(type='checkbox')
  label(for='tutorial01') JavaScript.info (The Modern JavaScript Tutorial)
  a(href='#0')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#tutorial02(type='checkbox')
  label(for='tutorial02') JavaScript 30
  a(href='https://javascript30.com')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#tutorial03(type='checkbox')
  label(for='tutorial03') CSS-TRICKS articles
  a(href='https://www.css-tricks.com/')
  .l-badges.l-badges--group
    span.c-badge.c-badge--html HTML
    span.c-badge.c-badge--css CSS
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#tutorial04(type='checkbox')
  label(for='tutorial04') CodyHouse tutorials & library
  a(href='https://codyhouse.co/tutorials')
  a(href='https://codyhouse.co/library/')
  .l-badges.l-badges--group
    span.c-badge.c-badge--css CSS
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#tutorial05(type='checkbox')
  label(for='tutorial05') Kirupa
  a(href='https://www.kirupa.com/')
  .l-badges.l-badges--group
    span.c-badge.c-badge--html HTML
    span.c-badge.c-badge--css CSS
    span.c-badge.c-badge--js VanillaJS

li.c-resources__item.c-checkbox
  input#tutorial06(type='checkbox')
  label(for='tutorial06') Tania Rascia articles
  a(href='#0')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#tutorial07(type='checkbox')
  label(for='tutorial07') Codrops
  a(href='#0')
  .l-badges.l-badges--group
    span.c-badge.c-badge--css CSS
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#tutorial08(type='checkbox')
  label(for='tutorial08') Traversy Media
  a(href='#0')
  .l-badges
    span.c-badge.c-badge--js JS
li.c-resources__item.c-checkbox
  input#tutorial09(type='checkbox')
  label(for='tutorial09') Adam Silver articles
  a(href='https://adamsilver.io/articles')
  .l-badges.l-badges--group
    span.c-badge.c-badge--html HTML
    span.c-badge.c-badge--css CSS
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#tutorial10(type='checkbox')
  label(for='tutorial10') Daily Developer Tips
  a(href='https://gomakethings.com/articles/')
  .l-badges
    span.c-badge.c-badge--js VanillaJS

li.c-resources__item.c-checkbox
  input#tutorial11(type='checkbox')
  label(for='tutorial11') Sara Soueidan articles
  a(href='https://www.sarasoueidan.com/')
  .l-badges.l-badges--group
    span.c-badge.c-badge--html HTML
    span.c-badge.c-badge--css CSS

li.c-resources__item.c-checkbox
  input#tutorial12(type='checkbox')
  label(for='tutorial12') RTL Styling 101
  a(href='https://www.rtlstyling.com/')
  .l-badges
    span.c-badge.c-badge--css CSS

li.c-resources__item.c-checkbox
  input#tutorial13(type='checkbox')
  label(for='tutorial13') Ahmad Shadeed articles
  a(href='https://www.ishadeed.com/')
  .l-badges
    span.c-badge.c-badge--css CSS

li.c-resources__item.c-checkbox
  input#tutorial14(type='checkbox')
  label(for='tutorial14') Ahmad Alfy articles about RTL
  a(href='https://alfy.me/')
  .l-badges
    span.c-badge.c-badge--css CSS

li.c-resources__item.c-checkbox
  input#tutorial15(type='checkbox')
  label(for='tutorial15') codeZone Tutorials
  a(href='https://www.youtube.com/channel/UChCMIwQrelEqLZT7Lt1L5Og')
  .l-badges
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#tutorial16(type='checkbox')
  label(for='tutorial16') Unique Coderz Academy
  a(href='https://www.youtube.com/channel/UChCMIwQrelEqLZT7Lt1L5Og')
  .l-badges.l-badges--group
    span.c-badge.c-badge--html HTML
    span.c-badge.c-badge--css CSS
    span.c-badge.c-badge--js JS

li.c-resources__item.c-checkbox
  input#tutorial17(type='checkbox')
  label(for='tutorial17') Testing JavaScript with Kent C. Dodds
  a(href='https://testingjavascript.com/')
  .l-badges
    span.c-badge.c-badge--js JS
