li.c-todo__item.c-checkbox
  input#js01(type='checkbox')
  label(for='js01') JS Fundamentals
li.c-todo__item.c-checkbox
  input#js02(type='checkbox')
  label(for='js02') DOM
li.c-todo__item.c-checkbox
  input#js03(type='checkbox')
  label(for='js03') JS Modules
li.c-todo__item.c-checkbox
  input#js04(type='checkbox')
  label(for='js04') Classes & ES6
li.c-todo__item.c-checkbox
  input#js05(type='checkbox')
  label(for='js05') Promises & Asynchronus JS
li.c-todo__item.c-checkbox
  input#js06(type='checkbox')
  label(for='js06') Design Patterns (MVC)
li.c-todo__item.c-checkbox
  input#js07(type='checkbox')
  label(for='js07') Web Components & State
li.c-todo__item.c-checkbox
  input#js08(type='checkbox')
  label(for='js08') API
li.c-todo__item.c-checkbox
  input#js09(type='checkbox')
  label(for='js09') Babel & Webpack
li.c-todo__item.c-checkbox
  input#js10(type='checkbox')
  label(for='js10') Learn React!
li.c-todo__item.c-checkbox
  input#js11(type='checkbox')
  label(for='js11') JS Testing
li.c-todo__item.c-checkbox
  input#js12(type='checkbox')
  label(for='js12') Serverless / JAM
li.c-todo__item.c-checkbox
  input#js13(type='checkbox')
  label(for='js13') Best Practices / Code Quality