li.c-todo__item.c-checkbox
  input#css01(type='checkbox')
  label(for='css01') Multi-Directional Layouts (RTL)
li.c-todo__item.c-checkbox
  input#css02(type='checkbox')
  label(for='css02') CSS Layouts
li.c-todo__item.c-checkbox
  input#css03(type='checkbox')
  label(for='css03') CSS Architecture
li.c-todo__item.c-checkbox
  input#css04(type='checkbox')
  label(for='css04') Cross-Browser Compatibility
li.c-todo__item.c-checkbox
  input#css05(type='checkbox')
  label(for='css05') Progressive Enhancement
li.c-todo__item.c-checkbox
  input#css06(type='checkbox')
  label(for='css06') Responsive Web Design
li.c-todo__item.c-checkbox
  input#css07(type='checkbox')
  label(for='css07') Colors & Typography
li.c-todo__item.c-checkbox
  input#css08(type='checkbox')
  label(for='css08') Using SVG
li.c-todo__item.c-checkbox
  input#css09(type='checkbox')
  label(for='css09') Understanding how css works
li.c-todo__item.c-checkbox
  input#css10(type='checkbox')
  label(for='css10') Best Practices / Code Quality