li.c-todo__item.c-checkbox
  input#html01(type='checkbox')
  label(for='html01') Semantic HTML

li.c-todo__item.c-checkbox
  input#html02(type='checkbox')
  label(for='html02') Everything about FORMS

li.c-todo__item.c-checkbox
  input#html03(type='checkbox')
  label(for='html03') HTML Document Flow

li.c-todo__item.c-checkbox
  input#html04(type='checkbox')
  label(for='html04') Web Accessibility

li.c-todo__item.c-checkbox
  input#html05(type='checkbox')
  label(for='html05') Template Engines
