footer.p-footer
  .o-container
    .p-footer__inner
      p
        small
          a(href='https://github.com/ahmedhosna95') Ahmed Nasr
          |                 { In 6 months }, page.
      ul.o-list.o-list--inline
        li
          a(href='https://github.com/ahmedhosna95')  My portfolio
        li
          a(href='https://github.com/ahmedhosna95') My Resume
        li
          a(href='https://github.com/ahmedhosna95') Hire me?
