header.p-header
  .o-container
    .p-header__inner
      //- img(src='assets/images/ahmed-sm.jpg', alt='Ahmed Nasr { In 6 months. }')
      h1
        span Frontend Daily Log
        span(hidden='') From 01 February to August 01, 2020.
        span To be a Front-End Web Developer..
      button.js-randomColourTrigger Random colour