.display-block {
	display: block;

	&--atSmall {
		@mixin at Small {
			display: block;
		}
	}

	&--atMedium {
		@mixin at Medium {
			display: block;
		}
	}
  
	&--atLarge {
		@mixin at Large {
			display: block;
		}
	}
}


.display-inline-block {
	display: inline-block;
  
	&--atSmall {
		@mixin at Small {
			display: inline-block;
		}
	}

	&--atMedium {
		@mixin at Medium {
			display: inline-block;
		}
	}
  
	&--atLarge {
		@mixin at Large {
			display: inline-block;
		}
	}
}

