.u-pull-start {
  float: inline-start;

  &--atSmall {
    @mixin at Small { float: inline-start }
  }

  &--atMedium {
    @mixin at Medium { float: inline-start }
  }

  &--atLarge {
    @mixin at Large { float: inline-start }
  }
 }

.u-pull-end {
  float: inline-end;

  &--atSmall {
    @mixin at Small { float: inline-end }
  }

  &--atMedium {
    @mixin at Medium { float: inline-end }
  }

  &--atLarge {
    @mixin at Large { float: inline-end }
  }
}


@supports (display: grid) and (display: flex) {
  [dir=ltr] .pull-start,
  [dir=ltr] .pull-start--atSmall,
  [dir=ltr] .pull-start--atMedium,
  [dir=ltr] .pull-start--atLarge,

  [dir=rtl] .pull-start,
  [dir=rtl] .pull-start--atSmall,
  [dir=rtl] .pull-start--atMedium,
  [dir=rtl] .pull-start--atLarge,

  [dir=ltr] .pull-end,
  [dir=ltr] .pull-end--atSmall,
  [dir=ltr] .pull-end--atMedium,
  [dir=ltr] .pull-end--atLarge,

  [dir=rtl] .pull-end,
  [dir=rtl] .pull-end--atSmall,
  [dir=rtl] .pull-end--atMedium,
  [dir=rtl] .pull-end--atLarge { float: none }
}