/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Redefine all of our basic heading styles against utility classes so as to
 * allow for double stranded heading hierarchy, e.g. we semantically need an H2,
 * but we want it to be sized like an H1:
 *
 *   <h2 class="u-s2"></h2>
 *
 */

.u-s1 { font-size: var(--s1); }

.u-s2 { font-size: var(--s2); }

.u-s3 { font-size: var(--s3); }

.u-s4 { font-size: var(--s4); }

.u-s5 { font-size: var(--s5); }

.u-s6 { font-size: var(--s6); }