/* ==========================================================================
   #SPACINGS
   ========================================================================== */

/**
 * Utility classes to put specific spacing values onto elements.
 */


/* Paddings */

.u-no-p-top { padding-top: 0; }

.u-no-p-bottom { padding-bottom: 0; }

.u-no-p-left { padding-left: 0; }

.u-no-p-right { padding-right: 0; }

.u-no-p-horizontal { padding-inline: 0; }

.u-no-p-vertical { padding-block: 0; }


/* Margins */

.u-m-auto {
  margin: auto;

  &--horizontal { margin-inline: auto }

  &--vertical { margin-block: auto }
}

.u-m-left-auto      { margin-left  : auto; }

.u-m-right-auto     { margin-right : auto; }

.u-no-m-top         { margin-top   : 0; }

.u-no-m-bottom      { margin-bottom: 0; }

.u-no-m-left        { margin-left  : 0; }

.u-no-m-right       { margin-right : 0; }

.u-no-m-horizontal  { margin-inline: 0; }

.u-no-m-vertical    { margin-block : 0; }